@font-face {
  font-family: Noto;
  src: url(/assets/font/NotoSansOldTurkic/NotoSansOldTurkic-Regular.ttf);
}

@font-face {
  font-family: Anek;
  src: url(/assets/font/AnekMalayalam/AnekMalayalam-VariableFont_wdth\,wght.ttf);
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: Noto;
  font-size: 80px;
}

h2 {
  font-family: Noto;
  font-size: 40px;
}

nav {
  display: flex;
  z-index: 1;
  position: absolute;
  text-transform: uppercase;
  color: #c2e6ff;
  font-family: Anek;
  cursor: pointer;
  height: 50px;
  width: 100%;
}

.sticky {
  margin-top: 0;
  position: fixed;
  width: 100%;
}

.nav-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  text-decoration: none;
  color: #c2e6ff;
  transition: all 0.3s;
}

.nav-title:hover {
  font-size: 18px;
}

.sections {
  scroll-snap-type: y mandatory;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

section {
  height: 100%;
  scroll-snap-align: start;
  padding-left: 10%;
  padding-right: 10%;
}

#sectionHome {
  background-color: #111927;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10%;
}

.presentation {
  display: flex;
  flex-direction: column;
  color: #c2e6ff;
}

.picture {
  border-radius: 50%;
  width: 50vh;
  border: #205d9e 2px solid;
}
#sectionProjects {
  background-color: #201314;
  display: flex;
  align-items: center;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60%;
  flex-wrap: wrap;
  row-gap: 2vh;
}
.card {
  width: 28%;
  height: 30vh;
  background-color: #3b1219;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #b54548;
  padding: 10px;
  padding-bottom: 10px;
}

.card:hover {
  background-color: #611623;
}

.card-picture {
  height: 60%;
  border-start-start-radius: 6px;
  border-start-end-radius: 6px;
  width: 100%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  border: 1px solid #b54548;
}
.card-site {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-description {
  text-align: right;
  height: 30%;
  display: flex;
  margin-top: 3%;
  color: #c2e6ff;
  font-family: Noto;
}

.card-description-skills {
  display: flex;
  width: 60%;
  gap: 5%;
  align-items: center;
}

.card-logo {
  max-width: 30%;
  max-height: 100%;
}

.logo {
  object-fit: cover;
}

.card-text {
  width: 40%;
}

#sectionSkills {
  background-color: #141a15;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionSkills-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #25482d;
  width: 30%;
  border-radius: 20px;
  height: 30%;
  font-family: Noto;
  min-height: 300px;
}
.sectionSkills-titles {
  color: #c2f0c2;
  margin-top: 10%;
}

.sectionSkills-skills {
  display: flex;
  width: 90%;
  height: 25%;
  justify-content: space-around;
  margin-bottom: 10%;
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 60px;
  }

  #sectionProjects {
    padding-left: 2vh;
    padding-right: 2vh;
  }
  .card-text {
    font-size: 14px;
  }
  #sectionSkills {
    font-size: 12px;

    padding-left: 3vh;
    padding-right: 3vh;
  }

  .sectionSkills-card {
    padding: 2%;
    width: 28%;
  }
  .sectionSkills-titles {
    font-size: 24px;
  }
}
@media only screen and (max-width: 900px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 24px;
  }
  #sectionHome {
    flex-direction: column;
    padding-top: 15vh;
    justify-content: center;
  }

  .picture {
    width: 30vh;
  }

  .presentation {
    height: 40vh;
    padding-bottom: 10vh;
    gap: 5vh;
    align-items: center;
  }

  #sectionProjects {
    padding-left: 2%;
    padding-right: 2%;
  }

  .cards {
    margin-top: 0;
    row-gap: 2vh;
    height: 75vh;
  }

  .card {
    width: 46%;
    height: 22vh;
  }

  .card-description-skills {
    width: 55%;
    gap: 5%;
    margin-right: 5%;
    align-items: center;
  }

  #sectionSkills {
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 16px;
    flex-direction: column;
    height: 90vh;
    padding-top: 10vh;
  }

  .sectionSkills-card {
    height: 20%;
    width: 70%;
    min-height: 0;
  }
  .sectionSkills-titles {
    margin: 0;
    height: 30%;
  }
  .sectionSkills-skills {
    margin: 0;
    height: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 41%;
    height: 22vh;
  }
  .card-text {
    font-size: 10px;
  }

  #sectionSkills {
    padding-left: 2%;
    padding-right: 2%;
    background-color: red;
  }
}
html:not([data-scroll=""]) {
  .nav-title-home {
    border-bottom: solid;
  }
}
html:not([data-scroll="100vh"]) {
  .nav-title-home,
  .nav-title-skills {
    border-bottom: none;
  }

  .nav-title-projects {
    border-bottom: solid;
  }
}

html:not([data-scroll="200vh"]) {
  .nav-title-home,
  nav-title-projects {
    border-bottom: none;
  }
  .nav-title-skills {
    border-bottom: solid;
  }
}
